<div class="container m-auto py-3">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light flex items-center justify-between">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            {# <div class="collapse navbar-collapse" id="navbarSupportedContent"> #}
            {# <ul class="navbar-nav"> #}
            {# {% for item in pages %} #}
            {# <li class="nav-item {{ loop.index == 1 ? 'active' : null }}"> #}
            {# <a class="nav-link" href="/{{ item.slug }}">{{ item.navTitle }}</a> #}
            {# </li> #}
            {# {% endfor %} #}
            {# </ul> #}
            {# </div> #}

            <div class="flex items-center">
                <a class="text-decoration-none text-dark" href="{{ path('index') }}">
                    <h2 class="mx-4">Kartcentrum Max</h2>
                </a>
                <ul class="navbar-nav">
                    {% for item in pages %}
                        {% if item.inNavigation == 1 %}
                            <li class="nav-item {{ loop.index == 1 ? 'active' : null }}">
                                <a class="nav-link" href="/{{ item.slug }}">{{ item.navTitle }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="flex items-center">
                <ul class="navbar-nav">
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('user-registrations') }}"><i class="far fa-clock"></i> Inschrijvingen</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}"><i class="fas fa-unlock-alt"></i> Uitloggen</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('user-detail') }}"><i class="fas fa-user"></i> Gebruiker</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/login/kartcentrum"><i class="fas fa-lock"></i> Inloggen</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</div>
