<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for indicator in carousel %}
            <li data-target="#carouselIndicators" data-slide-to="{{ loop.index0 }}" class="{{ loop.index0 == 0 ? 'active' : null }}"></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for img in carousel %}
            <div class="carousel-item {{ loop.index0 == 0 ? 'active' : null }}">
                <img class="carousel-img d-block w-100" src="{{ asset('assets/uploads/page/'~img.name) }}" alt="slide {{ loop.index0 }}">
            </div>
        {% endfor %}

    </div>
    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>

</div>