{% extends 'base.html.twig' %}

{% block main %}
    <div class="container-fluid">
        {% for section in sections %}
            <div class="row">
                {% if section.textAlign == 0 %}
                    <div class="section-content-{{ section.textAlign }} {{ loop.index is odd ? 'bg-brown' : 'bg-blue' }}">
                        <h2>{{ section.title }}</h2>
                        {{ section.content|raw }}
                    </div>
                    <img class="section-image-{{ section.textAlign }}" src="{{ asset('assets/uploads/section/'~section.image) }}" alt="section image">
                {% else%}
                    <img class="img-fluid section-image-{{ section.textAlign }}" src="{{ asset('assets/uploads/section/'~section.image) }}" alt="section image">
                    <div class="section-content-{{ section.textAlign }} {{ loop.index is odd ? 'bg-brown' : 'bg-blue' }}">
                        <h2>{{ section.title }}</h2>
                        {{ section.content|raw }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{%  endblock %}