{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="background-color: white">
        <header>
            <div class="row" style="margin-top: 20px">

                <div class="hidden-xs col-sm-2 ">
                    <img src={{ asset('assets/img/logo.png')}} alt="kartcentrum" class="pull-left img-responsive " >
                </div>
                <div class="col-sm-10">
                    <h1 >Kartcentrum <span class="text-danger"> MAX</span></h1>

                </div>

            </div>
            {% for message in app.flashes('notice') %}
                <div class="alert alert-success">
                    <strong>Success!</strong> {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    <strong>Fout!</strong> Gebruiker {{ message }}
                </div>
            {% endfor %}
        </header>
        <nav class="navbar navbar-default" style="margin-bottom: 0px">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-fire"></span> </a>
                </div>

                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        {% block menu %}

                        {% endblock %}

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('app_login') }}">inloggen</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <figure>
            <img style="margin-bottom: 20px" class="img-responsive" src={{ asset('assets/img/kart-wide.jpg')}} />
        </figure>
        {% block content %}
        {% endblock %}
        <hr>
        <footer>

            <img class="pull-right img-thumbnail" width="40"  style="margin-top: -10px;margin-bottom: 10px" src={{ asset('assets/img/linkedin.jpg')}} />
            <img class="pull-right img-thumbnail" width="40"  style="margin-top: -10px;margin-bottom: 10px" src={{ asset('assets/img/tweet.jpg')}} />
            <img class="pull-right img-thumbnail " width="40"  style="margin-top: -10px;margin-bottom: 10px" src={{ asset('assets/img/pinterest.png')}} />

            <p class="text-muted text-center">&copy;afdeling applicatieontwikkelaar Tinwerf 10, 2544 ED Den Haag. Telefoon:088 666 3600 </p>
        </footer>
    </div>
{%  endblock %}