{% extends 'user/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8 registration-form">
                {{ form_start(registrationForm) }}
                <div class="row mx-2">
                    <h2>Maak uw eigen account</h2>
                    <hr class="m-0">

                    <label>E-mailadres</label>
                    <div class="form-input">
                        <i class="far fa-envelope fa-lg"></i>
                        {{ form_row(registrationForm.email) }}
                    </div>

                    <label>Volledige naam</label>
                    <div class="form-input">
                        <i class="fas fa-id-card-alt fa-lg"></i>
                        {{ form_row(registrationForm.name) }}
                    </div>

                    <label>Gebruikersnaam</label>
                    <div class="form-input">
                        <i class="fas fa-user fa-lg"></i>
                        {{ form_row(registrationForm.username) }}
                    </div>

                    <div class="row p-0">
                        <div class="col-md-12 col-lg-6">
                            <label>Wachtwoord</label>
                            <div class="form-input">
                                <i class="fas fa-unlock-alt fa-lg"></i>
                                {{ form_row(registrationForm.password) }}
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 p-0">
                            <label>Herhaal wachtwoord</label>
                            <div class="form-input">
                                <i class="fas fa-unlock-alt fa-lg"></i>
                                {{ form_row(registrationForm.repeated_password) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row my-4 mx-2">
                    <h2>Persoonlijke informatie</h2>
                    <hr class="m-0">
                    <label>Telefoon</label>
                    <div class="form-input">
                        <i class="fas fa-phone fa-lg"></i>
                        {{ form_row(registrationForm.phone) }}
                    </div>

                    <label>Geboorte datum</label>
                    <div class="form-input">
                        <i class="fas fa-calendar-alt fa-lg"></i>
                        {{ form_row(registrationForm.date_of_birth) }}
                    </div>

                    <div class="row p-0">
                        <div class="col-md-12 col-lg-8">
                            <label>Postcode</label>
                            <div class="form-input">
                                <i class="fas fa-map-marked-alt fa-lg"></i>
                                {{ form_row(registrationForm.postal_code) }}
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4 p-0">
                            <label>Huis nr.</label>
                            <div class="form-input">
                                <i class="fas fa-home fa-lg"></i>
                                {{ form_row(registrationForm.house_nr) }}
                            </div>
                        </div>
                    </div>

                    <label>Adres</label>
                    <div class="form-input">
                        <i class="fas fa-map-pin fa-lg"></i>
                        {{ form_row(registrationForm.address) }}
                    </div>

                    <button class="btn btn-lg btn-blue my-3" type="submit">
                        Aanmelden
                    </button>
                </div>
                {{ form_end(registrationForm) }}

            </div>
            <div class="col-md-12 col-lg-4 registration-card shadow"
                 style="background-image: url('{{ asset('assets/img/registratie_image.jpg') }}')">
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/javascript/locationAutocomplete.js') }}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        jQuery(document).ready(function() {
            $('.js-datepicker').datepicker({
                changeYear: true,
                yearRange: "-80:+0",
                inline: true,
                showOtherMonths: true,
                maxDate: new Date,
                dateFormat: 'dd-mm-yy',
            });
        });
    </script>
{% endblock %}
