{% extends 'user/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/css/uikit.min.css" />
{% endblock %}

{% block main %}
    {% set lesson = lesson[0] %}
    {% if carousel is not empty %}
        <div class="uk-position-relative uk-visible-toggle uk-light detal-carousel-indicator" tabindex="-1" uk-slideshow="animation: push">
            <ul class="uk-slideshow-items">
                {% for c in carousel %}
                    <li>
                        <img class="carousel-image" src="{{ asset('assets/uploads/category/carousel/'~c.image) }}" alt="" uk-cover>
                        <div class="uk-position-center uk-text-left">
                            <div class="container m-auto">
                                <h1 uk-slideshow-parallax="x: 200,-200">{{ lesson.category.name }}</h1>
                                <p uk-slideshow-parallax="x: 200,-200">{{ lesson.category.introduction|raw }}</p>
                                <br>
                                <p uk-slideshow-parallax="x: 200,-200">
                                    <i class="far fa-calendar-alt"></i>
                                    {{ lesson.date|date('d-m-Y') }} / {{ lesson.time|date('H:i') }}
                                    <br>
                                    <i class="fas fa-users"></i>
                                    {{ lesson.maxParticipants }}
                                </p>
                            </div>

                        </div>
                    </li>
                {% endfor %}
            </ul>
            <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
        </div>
    {% else %}

        <div class="uk-position-relative uk-visible-toggle uk-light detal-carousel-indicator" tabindex="-1" uk-slideshow="animation: push">
            <ul class="uk-slideshow-items">
                <li>
                    <img class="carousel-image" src="{{ asset('assets/uploads/category/'~lesson.category.image) }}" alt="" uk-cover>
                    <div class="uk-position-center uk-text-left">
                        <div class="container m-auto">
                            <h1 uk-slideshow-parallax="x: 200,-200">{{ lesson.category.name }}</h1>
                            <p uk-slideshow-parallax="x: 200,-200">{{ lesson.category.introduction|raw }}</p>
                            <br>
                            <p uk-slideshow-parallax="x: 200,-200">
                                <i class="far fa-calendar-alt"></i>
                                {{ lesson.date|date('d-m-Y') }} / {{ lesson.time|date('H:i') }}
                                <br>
                                <i class="fas fa-users"></i>
                                {{ lesson.maxParticipants }}
                            </p>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    {% endif %}
    {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
        {% for message in messages %}
            <div class="container-fluid m-0 p-0">
                <div class="alert alert-{{ label }}" role="alert">
                    <div class="container">
                        <div class="row">
                            <div class="flash-{{ label }}">
                                {{ message }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
    <div class="container my-4">
        <div class="row">
            {% set categorySlug = lesson.category.slug %}
            {% set price = lesson.category.price / 100 %}
            <div class="col-md-12 col-lg-8">
                <h2>{{ lesson.category.name }}</h2>
                {{ lesson.category.description|raw }}
            </div>
            <div class="col-md-12 col-lg-4 register-sidebar">
                <h3 class="m-0 shadow">Meer info</h3>
                <ul class="shadow">
                    <li><i class="far fa-calendar-alt"></i> <span>Datum: </span>{{ lesson.date|date('d-m-Y') }}
                        / {{ lesson.time|date('H:i') }}</li>
                    <li><i class="fas fa-clock"></i> <span>Tijdsduur: </span>{{ lesson.category.time|date('H:i') }}</li>
                    <li><i class="fas fa-users"></i> <span>Max aantal: </span>{{ lesson.maxParticipants }}</li>
                    {% if availablePlaces is not empty %}
                        <li>
                            <i class="fas fa-user-plus"></i>
                            <span>Beschikbare plekken over: {{ availablePlaces }}</span>
                        </li>
                    {% endif %}
                    <li><i class="far fa-id-card"></i><span> Minumum leeftijd: {{ lesson.category.minimumAge }}</span>
                    </li>
                    <li><i class="fas fa-ticket-alt"></i> <span> Prijs: </span>
                        &euro;{{ price|number_format(2, ',', '.') }}</li>
                </ul>
                {% if registrationFull == true %}
                    <a class="btn btn-lg btn-blue w-100"
                       href="{{ path('moment-detail',
                           {'slug': categorySlug, 'date': lesson.date|date('d-m-Y')}) }}">
                        {{ lesson.category.name }} <span>zit vol!</span>
                    </a>
                {% else %}
                    {% if registration is empty %}
                        <a class="btn btn-lg btn-blue w-100"
                           href="{{ path('register-activity',
                               {'slug': categorySlug, 'date': lesson.date|date('d-m-Y')}) }}">
                            Inschrijven
                        </a>
                    {% else %}
                        <a class="btn btn-lg btn-blue w-100"
                           href="{{ path('delete-register', {'slug': registration[0].moment.category.slug, 'date': lesson.date|date('d-m-Y')}) }}">
                            Uitschrijven
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/js/uikit-icons.min.js"></script>
{% endblock %}
