{% extends 'user/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/css/uikit.min.css" />
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <h3 class="text-center">Uw inschrijvingen</h3>
            <div class="uk-slider-container-offset" uk-slider>

                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

                    <ul class="uk-slider-items uk-child-width-1-2@s uk-grid">
                        {% for registration in registrations %}
                            <li>
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-media-top">
                                        <img class="registration-list-image" src="{{ asset('assets/uploads/category/'~registration[0].moment.category.image) }}" alt="">
                                    </div>
                                    <div class="uk-card-body">
                                        <h3 class="uk-card-title">{{ registration[0].moment.category.name }}</h3>
                                        <p>{{ registration[0].moment.category.introduction|raw }}</p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                    <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>

                </div>

                <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/js/uikit-icons.min.js"></script>
{% endblock %}