{% extends 'user/base.html.twig' %}

{% block main %}
    {% set lesson = lesson[0] %}
    <div class="container-fluid m-0 p-0 register-row"
         style="background-image: url('{{ asset('assets/uploads/category/'~lesson.category.image) }}')">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-5">
                    <h1>{{ lesson.category.name }}</h1>
                    {{ lesson.category.introduction|raw }}
                    <br>
                    <p>
                        <i class="far fa-calendar-alt"></i>
                        {{ lesson.date|date('d-m-Y') }} / {{ lesson.time|date('H:i') }}
                        <br>
                        <i class="fas fa-users"></i>
                        {{ lesson.maxParticipants }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
        {% for message in messages %}
            <div class="container-fluid m-0 p-0">
                <div class="alert alert-{{ label }}" role="alert">
                    <div class="container">
                        <div class="row">
                            <div class="flash-{{ label }}">
                                {{ message }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
    <div class="container my-4">
        <div class="row">
            {% set categorySlug = lesson.category.slug %}
            {% set price = lesson.category.price / 100 %}
            <div class="col-md-12 col-lg-8">
                <h2>{{ lesson.category.name }}</h2>
                {{ lesson.category.description|raw }}
            </div>
            <div class="col-md-12 col-lg-4 register-sidebar">
                <h3 class="m-0 shadow">Meer info</h3>
                <ul class="shadow">
                    <li><i class="far fa-calendar-alt"></i> <span>Datum: </span>{{ lesson.date|date('d-m-Y') }}
                        / {{ lesson.time|date('H:i') }}</li>
                    <li><i class="fas fa-clock"></i> <span>Tijdsduur: </span>{{ lesson.category.time|date('H:i') }}</li>
                    <li><i class="fas fa-users"></i> <span>Max aantal: </span>{{ lesson.maxParticipants }}</li>
                    {% if availablePlaces is not empty %}
                        <li>
                            <i class="fas fa-user-plus"></i>
                            <span>Beschikbare plekken over: {{ availablePlaces }}</span>
                        </li>
                    {% endif %}
                    <li><i class="far fa-id-card"></i><span> Minumum leeftijd: {{ lesson.category.minimumAge }}</span></li>
                    <li><i class="fas fa-ticket-alt"></i> <span> Prijs: </span> &euro;{{ price|number_format(2, ',', '.') }}</li>
                </ul>
                {% if registrationFull == true %}
                    <a class="btn btn-lg btn-blue w-100"
                       href="{{ path('user-detail',
                           {'slug': categorySlug, 'date': lesson.date|date('d-m-Y')}) }}">
                        {{ lesson.category.name }} <span>zit vol!</span>
                    </a>
                {% else %}
                    {% if registration is empty%}
                        <a class="btn btn-lg btn-blue w-100"
                           href="{{ path('register-activity',
                               {'slug': categorySlug, 'date': lesson.date|date('d-m-Y')}) }}">
                            Inschrijven
                        </a>
                    {% else %}
                        <a class="btn btn-lg btn-blue w-100"
                           href="{{ path('delete-register', {'slug': registration[0].moment.category.slug, 'date': lesson.date|date('d-m-Y')}) }}">
                            Uitschrijven
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
