{% extends 'user/base.html.twig' %}

{% block main %}
    <div class="container-fluid">
        <div class="container">
            {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
                {% for message in messages %}
                    <div class="container-fluid m-0 p-0">
                        <div class="alert alert-{{ label }}" role="alert">
                            <div class="container">
                                <div class="row">
                                    <div class="flash-{{ label }}">
                                        {{ message }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="row">
                <div class="col-md-12 col-lg-10 m-auto">
                    {{ form_start(userForm) }}
                    <div class="row">
                        <h2>Wijzig uw account</h2>
                        <hr class="m-0">

                        <label class="mt-3">Oude wachtwoord</label>
                        <div class="form-input">
                            <i class="fas fa-unlock-alt fa-lg"></i>
                            {{ form_row(userForm.old_password) }}
                        </div>

                        <div class="row mt-5">
                            <div class="col-md-12 col-lg-6">
                                <label>Nieuw wachtwoord</label>
                                <div class="form-input">
                                    <i class="fas fa-unlock-alt fa-lg"></i>
                                    {{ form_row(userForm.password) }}
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6 p-0">
                                <label>Herhaal wachtwoord</label>
                                <div class="form-input">
                                    <i class="fas fa-unlock-alt fa-lg"></i>
                                    {{ form_row(userForm.repeated_password) }}
                                </div>
                            </div>
                        </div>

                    </div>
                    <button class="btn btn-lg btn-blue my-3" type="submit">
                        Opslaan
                    </button>
                    {{ form_end(userForm) }}
                </div>


            </div>
        </div>
    </div>
{% endblock %}
